// base color
$color-base: #717790;
$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
// mixin
@mixin baseButton {
    padding: .3rem .8rem;
    border: 1px solid rgba(0,0,0,.1);
    background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent);
    border-radius: .2rem;
    box-shadow: 0 .05rem .25rem rgba(0,0,0,.2);
    color: white;
    text-shadow: 0 -.05rem .05rem rgba(0,0,0,.5);
}
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  

// base size
$navtab-width: 20rem;
$navtab-item-width: calc(#{$navtab-width} / 4 - 1.2rem);
$navtab-overlay-width: calc(#{$navtab-item-width} + 3rem);
// sidebar


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {

}
