// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$color-text: #666;
$color-high-text: #ff5777;
$color-tint: #ff8198;
$color-background: #fbfbfb;

$color-tabbar-background: #f6f6f6;
$color-base: #F0183D;
$color-white: #ffffff;

// mixin
@mixin card {
 background: #FFFFFF;
 box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.07);
 opacity: 1;
 border-radius: 12px;
}
@mixin baseIcon {
  font-size: 30px;
  text-align: center;
}
@mixin baseFont {
  font-size: 16px;
  text-align: center;
}
@mixin bodyContent {
  padding: 12px;
  height: calc(100vh - 110px);
  width: 100vw;
}
@mixin flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
@mixin flex-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

// base size
$font-size: 14px;
$line-height: 1.5;
$tabbar-height: 66px;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
